@import '../../../styles.scss';
h2 {
    font-family: $title-font;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
}
.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;

}
img {
    margin: 10px;
    width: 30%
}
@media screen and (max-width: 800px) {
    img {margin: 3px}
}