@import '../../../styles.scss';
.bg {
    background: linear-gradient(180deg, #BBBFCA 90%, #F4F4F2 10%);
    height: 500px;
    margin: 0;
    padding-bottom: 50px
}
.inner-bg {
    background-image: url('../../../assets/intro.jpg');
    background-repeat: no-repeat;
    width: auto;
    height: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {padding-top: 100px}
.text h1 {
    font-family: $title-font;
    font-size: 60px;
}
.text p { 
    font-family: $main-font;
    width: 80%
}
button {
    border: none;
    color: #fff;
    background-color: #336D88;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: $title-font;
    font-size: 18px;
}

@media screen and (max-width: 800px) {
    .inner-bg {background-image: none;}
    .text {padding-top: 0;}
    .text h1 {font-size: 40px;}
}