@import '../styles.scss';
.navbar { 
    background-color: #BBBFCA;
    padding-bottom: 30px;
    padding-top: 10px;
}
.nav {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.items {
    text-align: right;
}
.items a {
    margin: 10px;
    font-family: $main-font;
    text-decoration: none;
    color: black
}
.strong {font-family: $title-font !important;}
