@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
$main-font: 'Playfair Display', sans-serif;
$title-font: 'Josefin Sans';
body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F2;
}