<div class="about">
    <div class="content">
        <img src="../../../assets/about.jpg">
        <div class="text">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam 
                condimentum malesuada ipsum, sit amet imperdiet sem gravida 
                quis. Nunc nec diam arcu. Aliquam vehicula odio tellus, eget 
                aliquet lectus ultrices at. Vivamus condimentum, ligula sed mattis 
                venenatis, diam diam efficitur mi, sit amet imperdiet sem est non 
                nunc. Nulla suscipit sed tellus rhoncus porttitor. Sed quis felis ligula. 
                Quisque dapibus, sapien ac malesuada luctus, orci velit dapibus dui, 
                et interdum ipsum dui vitae ante.<br> <br>
                Curabitur quis ipsum justo. Pellentesque habitant morbi tristique 
                senectus et netus et malesuada fames ac turpis egestas. Proin 
                condimentum, ex in porttitor varius, dolor leo fringilla ligula, 
                commodo molestie purus odio vel elit. Morbi vel felis luctus, 
                placerat ipsum nec, iaculis sapien.</p>
        </div>
    </div>
</div>